version: '3.6'

services:
  msapi:
    image: ghcr.io/missionsquad/missionsquad-api:1.6.0
    container_name: msapi
    hostname: msapi
    restart: unless-stopped
    ports:
      - 8080:8080
    env_file:
     - .env
    environment:
      - PYTHON_BIN=/usr/local/bin/python3.13
    volumes:
      - ./packages:/app/packages
    logging:
      driver: 'json-file'
      options:
        max-size: 100m
        max-file: '2'
